
*{
    margin:0;
    padding:0;
    border:0;
  }
  
  
  body{
  
    background: linear-gradient(to right, #9eb2c7, #213350); /* Tons claros e sutis */
    color: #333; /* Mantém o texto legível */
  }
  
  .imgbann{
  
  width: 8rem;
  height: 4rem;
  margin-left: 4rem;
  margin-top: 1rem;
  margin-block-end: 1rem;
  
  }
  
  .flex{
  
  display: flex;
  align-self: flex-end;
  gap: 0;
  margin: 0;
  padding: 0%;
  justify-content: space-evenly;
  
  
  
  
  }
  
  .container-fluid{
  
    
    background-image: url(assets/background.PNG);
    background-attachment: fixed;
    
  
  }
  
  
  .nav-link{
  
    color: white;
  
  }
  .col {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .col.animate {
    opacity: 1;
    transform: translateY(0);
  }
  
  .card {
    max-width: 300px; 
    height: auto; 
    margin: auto; 
  }
  
  .carousel-item {
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
  
  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item.active {
    animation: fadeIn 1.2s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .cards{
  
    background-image: url(assets/background.PNG);
    background-attachment: fixed;
  
  }
  
  .cards_plano{
  
    display: flex;
    align-items: baseline;
  
  }
  
  .preco{
  
    display: flex;
    justify-content: center;
    align-items: flex-end;
  
  }
  
  .icons{
    display: flex;
    gap: 0.4rem;
    align-items: center;
  
  }
  .cardpremi{
  
    background-color: rgba(251, 255, 0, 0.452);
    font-weight: bolder;
    color: #FFFFFF;
    margin-top: 1rem;
  
  }
  .cardbas{
  
  background-color: #ffffffcb;
  
  
  }
  .cardpad{
  
    background-color: rgba(106, 144, 248, 0.315);
    font-weight: 500;
    color: #FFFFFF;
  
  }
  
  .cards_plano {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaço entre os cards */
    flex-wrap: wrap;
  }
  
  .card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.1); /* Aumenta o card em 10% */
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3); /* Adiciona um efeito de sombra */
  }
  
  
  .banner-1{
    background-image: url(assets/background.PNG);
    background-attachment: fixed;
  }
  
  .banners-titulo {
    padding: 100px;
    --bs-bg-opacity: 0.2;
    color: #FFFFFF;
  }

  
  
  
  .vide {
    width: 100%;
    height: auto; /* Ou ajuste conforme necessário */
    display: block;
    align-items: center;
  }
  
  /* Estilização para o conteúdo ficar visível sobre o vídeo */
  .content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-top: 20%;
  }
  
  .back{
  
    background-color: #FFFFFF !important;
  
  }
  
  .inicio{
  
    margin-top: 0;
  
  
  }
  .card-text{
    text-align: justify;
  }
  
  .col{
    margin-top: 2rem;
  }
  
  .d-block{
    width: 10rem;
    height: 40rem;
  }